extends layout

block content
  h1= title
  div(class='item-list')
    each item in itemList 
        div(class='item')
            div(class='item-name')=item.name
            div(class='item-body')
                div(class='item-category')='Category: '
                    a(href=item.category.url)=item.category.name
                div(class='item-description')=item.description
                div(class='item-price')=item.price